@page "/bomlist"



<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@code {
    private int currentCount = 0;


    /*protected override async Task OnInitializedAsync()
    {
        
        //var httpClient = HttpClientFactory.CreateClient("ServerAPI");
        try
        {
            httpString = await ApiService.GetTestStringAsync("ServerAPI", "webapi/test");
            //httpString = await httpClient.GetStringAsync("webapi/test");
            // 在这里你可以对 httpString 进行处理，例如反序列化 JSON 数据
            // 如果你需要将 JSON 字符串转换为对象，可以使用 System.Text.Json 或 Newtonsoft.Json
            // 例如：
            // var elements = System.Text.Json.JsonSerializer.Deserialize<List<Element>>(httpString);
            }
        catch (Exception ex)
        {
            // 处理异常
            Console.WriteLine($"An error occurred: {ex.Message}");
            }
        }*/

    private void IncrementCount()
    {
        currentCount++;
    }

}
